<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">html5 navigation app for cyclist</h3>
</div>

<div class="jumbotron">
  <h1>Welcome</h1>
  <p class="lead">
    visit the app
  </p>
  <ul class="list-unstyled">
    <li>
      <a class="btn btn-default btn-block" href="#">
        <span class="glyphicon glyphicon-map-marker"></span> Show me where I am
      </a>
    </li>
    <li>
      <a class="btn btn-default btn-block" ng-href="#/chooseComputeEngine">
        <span class="glyphicon glyphicon-star"></span> Choose a compute engine
      </a>
    </li>
    <li>
      <a class="btn btn-default btn-block" href="#/chooseRenderEngine">
        <span class="glyphicon glyphicon-dashboard"></span> Choose a render engine
      </a>
    </li>
    <li>
      <a class="btn btn-default btn-block" href="#/manageMap">
        <span class="glyphicon glyphicon-download"></span> Download a map
      </a>
    </li>
    <li>
      <a class="btn btn-default btn-block" href="#/go">
        <span class="glyphicon glyphicon-road"></span> Choose were you go
      </a>
    </li>
  </ul>
</div>

<div class="footer">
  <p>♥</p>
</div>
