<div class="header">
	<ul class="nav nav-pills pull-right">
		<li><a class="btn btn-default" ng-href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
	</ul>
	<h3 class="text-muted">html5 navigation app for cyclist</h3>
</div>

<div class="jumbotron">
	<h1>Download new Map</h1>
	<p>server url to contact : <input ng-model="urlServer"></input></p>
	<a class="btn btn-default btn-block" ng-click="loadList()">
        Get available area list
    </a>
	<p>{{success}}</p>
	<select ng-model="selected" ng-options="area for area in listArea" ng-change="select()" ng-hide="hide">
    </select>
    <p>{{importState}} {{step}}{{size}}</p>
    <a class="btn btn-default btn-block" href="#">Return</a>
</div>

<div class="footer">
	<p>♥</p>
</div>
