<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a class="btn btn-default" ng-href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
  </ul>
  <h3 class="text-muted">html5 navigation app for cyclist</h3>
</div>
<div class="jumbotron">
<ul>
	<li><input ng-model="lat" type="number" class="form-control" placeholder="Latitude"></input></li>
	<li><input ng-model="lon" type="number" class="form-control" placeholder="Longitude"></input></li>
	<li><a class="btn btn-default btn-block" ng-click="saveCoor()" href="#">Return</a></li>
</div>